<div id="pastebin-item" class="item panel round">
    <div class="row">
        <div class="itemnum radius label large-2 columns">Code NNN</div>
        <div class="large-1"></div>
        <div class="large-9 columns"><a class="item-title" href="/code/<ID>" target="">Title</a></div>
    </div>
    <div class="row">
        <div class="description large-12 columns"></div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <pre><code class="codeblock">
                (code here)
            </code></pre>
        </div>
    </div>
    <a class="item-link" href="/code/<ID>" target="">Go to full code ...</a>
</div>
