<div id="flash">
    <div class="flash">Flash message</div>
</div>
<a href="/list">Go to list</a>

<form id="codeedit" action="" method="POST">
    <label>Title <input name="title" type="text" placeholder="Title" value="TODO"/></label><br/>
    <label>Description<br>
        <textarea name="description" placeholder="Description" cols="120" rows="2">TODO</textarea>
    </label><br>
    <label>Your code<br>
        <textarea name="code" placeholder="Your code" cols="120" rows="10">TODO</textarea>
    </label><br>
    <input type="submit" value="Save code">
</form>
